.header {
  background-color: var(--primary-color);
  color: var(--primary-color-text);
}

:host ::ng-deep .p-button.p-button-text {
  color: var(--primary-color-text);
}

:host ::ng-deep .p-button.p-button-text:hover {
  background: rgba(255, 255, 255, 0.1);
}

:host ::ng-deep .p-button.p-button-outlined {
  color: var(--primary-color-text);
  border-color: var(--primary-color-text);
}

:host ::ng-deep .p-button.p-button-outlined:hover {
  background: rgba(255, 255, 255, 0.1);
}
