<header class="header fixed top-0 left-0 right-0 z-50 shadow-md">
  <div class="flex items-center justify-between py-3 px-8">
    <div class="text-xl font-bold">Klasije</div>
    <div class="flex items-center gap-4">
      <p-button
        label="Home"
        [link]="true"
        severity="secondary"
        [text]="true"
        routerLink="/"
      ></p-button>
      <p-button
        label="Courts"
        [link]="true"
        severity="secondary"
        [text]="true"
        routerLink="/courts"
      ></p-button>

      <ng-container *ngIf="authService.currentUser$ | async as user">
        <span class="text-white">Welcome, {{ user.username }}</span>
        <p-button
          label="Logout"
          (onClick)="logout()"
          severity="secondary"
          [outlined]="true"
        ></p-button>
      </ng-container>

      <ng-container *ngIf="!(authService.currentUser$ | async)">
        <p-button
          label="Login"
          [link]="true"
          severity="secondary"
          [outlined]="true"
          routerLink="/login"
        ></p-button>
      </ng-container>
    </div>
  </div>
</header>
