<div class="card flex justify-content-center mb-4 items-center gap-4">
  <p-button
    icon="pi pi-chevron-left"
    (onClick)="previousDay()"
    [text]="true"
    severity="secondary"
    [disabled]="isPreviousDayDisabled()"
  ></p-button>

  <p-calendar
    [(ngModel)]="date"
    [minDate]="minDate"
    (onSelect)="onDateSelect($event)"
    [showIcon]="true"
    dateFormat="dd/mm/yy"
  ></p-calendar>

  <p-button
    icon="pi pi-chevron-right"
    (onClick)="nextDay()"
    [text]="true"
    severity="secondary"
  ></p-button>
</div>
