<p-toast></p-toast>
<div class="container mx-auto p-4 shadow-md">
  <div class="header-section shadow-md rounded-t-lg">
    <h1 class="text-3xl font-bold">Court Reservations</h1>
  </div>

  <div class="grid gap-4">
    <div
      *ngFor="let slot of timeSlots"
      class="time-slot border-l-4 p-4 rounded-lg drop-shadow-md mb-4"
    >
      <h2 class="time-label text-lg font-semibold mb-3">{{ slot.time }}</h2>

      <div class="flex flex-wrap gap-3">
        <div *ngFor="let court of slot.courts" class="w-[140px] h-[40px]">
          <p-button
            *ngIf="!isUsersCourt(slot.time, court)"
            [label]="court.name"
            [disabled]="!court.isVacant"
            (onClick)="reserveCourt(slot.time, court)"
            [severity]="court.isVacant ? 'success' : 'danger'"
            [styleClass]="'w-full h-full'"
          >
          </p-button>
          <p-button
            *ngIf="isUsersCourt(slot.time, court)"
            [label]="'Vacate ' + court.name"
            (onClick)="vacateCourt(slot.time, court)"
            severity="warning"
            [styleClass]="'w-full h-full'"
          >
          </p-button>
        </div>
      </div>
    </div>
  </div>
</div>
